/* Font Azeret Mono  */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.f-azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 40px auto;
    padding: 60px 0;
}
.header  {
    padding: 0 48px 48px;
    width: 1000px;
    margin: auto;
}
.ta-left {
    text-align: left !important;
}

.header .title{
    margin-bottom: 24px
}

.title {
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7;
}
/* Hero Banner Styles  */
#hero {
    background: url("../assets/Hero-bg.png");
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    height: 652px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#hero .hero-container {
    width: 998px;
    height: auto;
    margin: 26px auto 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

}
#hero .hero-container .img {
    width: 240px;
    height: 240px;
    margin-bottom: 32px;
}
#hero .hero-container .img img {
    width: 100%;

}
#hero .hero-container .title {
    font-size: 42px;
    line-height: 58px;
    margin-bottom: 24px;
}
#hero .hero-container .description {
    /* color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: .7; */
    margin-bottom: 32px;
}
#hero .hero-container .cta-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}

/* Why web development section Styles */

#why-dev .container {
    padding: 60px;
    background-color: rgba(13, 19, 33, 0.05);
    border-radius: 16px;
}

#why-dev .container .card {
    padding: 48px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
#why-dev .container .card .card-data{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px; */
}
#why-dev .container .card .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 24px;
    text-align: left;
    opacity: .8;
}
#why-dev .container .card .description {
    text-align: left;
}
#why-dev .container .card .card-btn {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    padding: 12px 20px;
    text-decoration: none;
    margin-top: 24px;
    display: inline-block;
    transition: .3s ease-in-out;
}
#why-dev .container .card .card-btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    opacity: 1;
}
#why-dev .container .card .card-img img{
    width: 275px;
    height: 240px
}

/* My Inspiration Section */

#inspiration .inspiration-content {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}
#inspiration .inspiration-content iframe {
    border-radius: 14px;
}

/* My Current Target Section  */
#current-target .current-target-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#current-target .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    border-radius: 16px;
}
#current-target .card:nth-child(1) {
    background-color: rgba(255, 76, 30, 0.07);
}
#current-target .card:nth-child(2) {
    background-color: rgba(0, 76, 232, 0.07);
}
#current-target .card:nth-child(3) {
    background-color: rgba(255, 223, 0, 0.07);
}
#current-target .card a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
#current-target .card .card-img {
    width: 56px;
    height: 56px
}
#current-target .card .card-img img {
    width: 100%;
    height: 100;
}